<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>


## For docker env, I needed to have the RewriteBase pointing to the root (/)
## mode_rewrite is a PHP module which comes with server envs.
## RewriteBase is the directory location which we are creating rewrites from
## If there is a filename in the public dir then it will be loaded, otherwise everything is loaded through index.php